.nav-secondary{
	.container{
		padding-top: @line-height-computed *.666;
	}

	.nav{
		a{
			color: fade(@white, 60);
			padding: 3px 7px;
			&:hover{
				color: @white;
				background-color: transparent;
				border: none;
			}
		}
	}
}

.bg-black{background-color: @black}
.bg-white{background-color: @white}


.air{margin: @line-height-computed}
.air-top{margin-top: @line-height-computed}
.air-bottom{margin-bottom: @line-height-computed}
.air-lg{margin: @line-height-computed * 2}
.air-vertical{margin: @line-height-computed 0}
.air-horizontal{margin: 0 @line-height-computed}