header{
	margin: 3em 0;
	img{
		width: 100px;
		height: auto;
	}
	h1{ font-weight: 300;
		display: inline;
		span{
			color: @gray-light
		}
	}
	.nav{
		min-width: 40%;
		text-align: right;
	}
}

.nav-secondary{
	.container{
		padding-top: @line-height-computed *.666;
	}

	.nav{
		a{
			color: fade(@white, 60);
			padding: 3px 7px;
			&:hover{
				color: @white;
				background-color: transparent;
				border: none;
			}
		}
	}
}

.footer,
footer{
	ul{
		li{
			display: inline-block;
			list-style-type: none;
		}
	}
}

ul.ideas{
	li{
		.fa-li{
			font-size: 22px;
		}
		//font-weight: lighter;
		.air-vertical;
	}
}

.panel-heading{
	/*
	font-size: 42px;
	font-weight: lighter;
	*/
}
// Backgound colors

.bg-black{background-color: @black}
.bg-white{background-color: @white}

// display


// Air

.air{margin: @line-height-computed}
.air-top{margin-top: @line-height-computed}
.air-bottom{margin-bottom: @line-height-computed}
.air-lg{margin: @line-height-computed * 2}
.air-vertical{margin: @line-height-computed/2 0}
.air-horizontal{margin: 0 @line-height-computed}