---
layout: standard
title: Maquetas
---

<div class='page-header'>
	<h1>Conceptos</h1>
	<p class='lead'>La deliberación democrática es un fenómeno complejo. MediaFranca define tipos discursivos básicos —tipos de publicación— que son los ladrillos mínimos para participar en el discurso público. La relación dinámica de todos ellos, en sus relaciones y jerarquías, van armando las prioridades y decantando la voluntad común.</p>
</div>
<p>Estas publicaciones son:</p>
<ul class='fa-ul'>
	<li><i class='fa fa-li fa-flag'></i> Propuestas
		<ul class='fa-ul'>
			<li><i class='fa fa-li fa-lightbulb-o'></i> Ideas
				<ul class='fa-ul'>
					<li><i class='fa fa-li fa-thumbs-up'></i> votos a favor
						<ul class='fa-ul'>
							<li><i class='fa fa-li fa-comment'></i> argumentos a favor</li>
						</ul>
					</li>
					<li><i class='fa fa-li fa-thumbs-down'></i> votos en contra
						<ul class='fa-ul'>
							<li><i class='fa fa-li fa-comment'></i> argumentos en contra</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>

</ul>

<div class='panel panel-primary'>
	<div class='panel-heading'><i class='fa fa-flag'></i> Cada propuesta tiene ideas</div>
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-12'>
				<ul class='fa-ul ideas'>
					<li><i class='fa-li fa fa-lightbulb-o'></i>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. 
						{% include vote.html %}
					</li>
					<li><i class='fa-li fa fa-lightbulb-o'></i>No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. 
						{% include vote.html %}
					</li>
					<li><i class='fa-li fa fa-lightbulb-o'></i>Fue popularizado en los 60s con la creación de las hojas 'Letraset', las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
						{% include vote.html %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>