
<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
	<div class='container'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-ex1-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<i class='fa fa-bars'></i>
			</button>
			<a href='{{ site.baseurl }}/' class='navbar-brand cf'>
				<span class='logo uc'>Kane</span>
			</a>
		</div>

		<!-- acá todo lo colapsable -->
		<div class='collapse navbar-collapse navbar-ex1-collapse in'>
			<ul class='nav navbar-nav'>
				{% include nav.html %}
			</ul>
			<ul class='nav navbar-nav pull-right'>
				<li><a>Versión {{ site.kane.version }}</a></li>
			</ul>
		</div>
	</div>
</nav> <!-- Fin Barra de Navegacion -->	